@import url('https://fonts.googleapis.com/css?family=Inconsolata');

html * {
    font-family: 'Inconsolata', monospace !important;
}

.connect-bg-nav {
    background-color: #e8d3ff;
}

p.bio {
    font-size: 0.9em;
}
