@import url('https://fonts.googleapis.com/css?family=Inconsolata');

html * {
    font-family: 'Inconsolata', monospace !important;
}

.connect-bg-nav {
    background-color: #e4d4fd;
}

nav.navbar {
    height: 8vh;
}

nav.navbar #connect-logo {
    height: 6vh;
    width: 10vw;
}